<h1>{{title}}</h1>
<ul>
<li>ID: {{user.uid}}</li>
<li>UserName: {{user.username}}</li>
<li>Email: {{user.email}}</li>
<li>Admin: {{user.admin}}</li>
<li>Created At: {{user.created_at}}</li>
<li>claim Type Logged in: {{user.type_id}}</li>
<li>provider_id: {{user.provider_id}}</li>
</ul>
